html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

body {
    background-color: #313131;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
}

#image {
    height: 100%;

    max-height: 100%;
    max-width: 100%;

    position: absolute;
    transition: 0.2s;

    object-fit: contain
}

#image.loading {
    filter: blur(2px);
}

.toolbar {
    position: absolute;
    width: 100%;
    display: flex;
}

.toolbar .left {
    flex: 1;
    display: flex;
    justify-content: left;
}

.toolbar .right {
    flex: 1;
    display: flex;
    justify-content: right;
}

.bottom-toolbar {
    bottom: 0;
}

.top-toolbar {
    top: 0;
}

.btn {
    color: #0C0C0C;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    transition: 0.2s;
}

.btn.round {
    padding: 10px;
    border-radius: 50%;
}

.btn.round .material-icons {
    margin: 0;
}

.btn.report {
    /*background-color: #FF1B1B;*/
    background-color: #E53935;
    color: #FFFFFF;
}

.artist-info {
    font-size: 1.1em;
}

.btn:hover {
    border-radius: 10px;
}

.btn.effect:hover {
    transform: scale(0.9);
}

.btn.effect:active {
    transform: scale(0.8);
}

.btn .material-icons {
    margin-right: 8px;
    margin-left: -2px;
}

.service-icon {
    height: 1.2em;
    margin: auto 0;
    margin-right: 10px;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

#report-form {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
    z-index: 9999;

    transition: 0.2s;

    animation: slide-in 0.25s;

    max-width: calc(100vw - 20px);
}

#report-form input {
    margin: 0;
}

#report-form p {
    margin: 10px 0;
    font-size: 0.9em;
}

#report-form > label {
    display: block;

    margin-bottom: 4px;
}

#report-form textarea {
    display: block;
    margin: 10px 0;
    padding: 8px;

    resize: vertical;

    width: 100%;
    min-height: 8em;

    border: 2px solid black;
    border-radius: 8px 8px 0 8px;
    outline: none;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
}

#report-form .form-title {
    margin: 0;
    margin-bottom: 10px;

    font-weight: bolder;
    flex: 1;
}

#report-form .textarea-note {
    margin: 0;
    margin-top: 10px;
    padding: 0;

    font-weight: bolder;
}

#report-form button[role="submit"] {
    border: none;
    color: #FFFFFF;
    background: #004D40;

    padding: 10px 20px;
    border-radius: 20px;

    cursor: pointer;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    transition: 0.2s;

    width: 100%;
    /*float: right;*/
}

#report-form button[role="submit"]:hover {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: scale(0.95);
}

#report-form button[role="submit"]:active {
    transform: scale(0.9);
}

.h-captcha {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#report-form .top-section {
    display: flex;
    flex-direction: row;
}

.icon-btn {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.icon-btn > span {
    transition: 0.2s;
    border-radius: 3px;
}

.icon-btn:hover > span {
    background: #E53935;
    color: #FFFFFF;
}

