{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<script src="/js/script.js"></script>
<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}

{% block content %}

{% if treasure.image_ext == 'swf' %}
    <div id="image-container">
        <object id="image" type="application/x-shockwave-flash" data="{{ treasure.image }}">
            <param name="movie" value="{{ treasure.image }}" />
            <param name="quality" value="high" />
            <embed src="{{ treasure.image }}" quality="high" />
        </object>
    </div>
{% elif treasure.image_ext in ['mp4', 'webm'] %}
    <div id="image-container">
        <video controls id="image" type="video/{{ treasure.image_ext }}" src="{{ treasure.image }}">
    </div>
{% else %}
    <a href="{{ src }}"
       data-source-type="{{ treasure.source_type }}"
       id="image-container">
        <img id="image"
             class="loading"
             src="{{ treasure.image_preview }}"
             data-og-src="{{ treasure.image }}"
             data-danbooru-id="{{ treasure.id }}">
    </a>
{% endif %}

<div class="toolbar top-toolbar">
    <!--
    <div class="left">
        <a class="btn round effect refresh" href="#" onclick="refreshImage()">
            <span class="material-icons">refresh</span>
        </a>
        <a class="btn round effect" href="https://github.com/yuwui/dowsingrod">
            <img class="service-icon" src="/img/icon-github.svg">
        </a>
    </div>
    -->
    <div class="right">
        <a class="btn effect github" href="https://github.com/yuwui/dowsingrod">
            <img class="service-icon" src="/img/icon-github.svg">
            GitHub
        </a>
        <a class="btn report" id="report-button" href="#" onclick="toggleReport()">
            <span class="material-icons">flag</span>
            Report
        </a>
    </div>
</div>

<div class="toolbar bottom-toolbar">
    {% if treasure.artist_name %}
        <a class="btn effect artist-info" href="{{ treasure.artist_url }}" class="artist-name">
            <!-- service-icon -->
            {% if treasure.source_type == "twitter" %}
                <img class="service-icon" src="/img/icon-twitter.svg">
            {% elif treasure.source_type == "pixiv" %}
                <img class="service-icon" src="/img/icon-pixiv.svg">
            {% endif %}
            <span class="artist-name">{{ treasure.artist_name }}</span>

            <!-- link-icon -->
            <!--<span class="material-icons">launch</span>-->
        </a>
    {% endif %}
</div>

<form id="report-form" style="display:none" method="POST" action="/report" onsubmit="submitForm(this);return false">
    {{ form.csrf_token }}
    <div class="top-section">
        <h3 class="form-title">
            Report Image
        </h3>
        <a class="icon-btn" onclick="toggleReport()">
            <span class="material-icons">close</span>
        </a>
    </div>
    <p>
        Please check for and correct any mistakes on <a href="https://danbooru.donmai.us/posts/{{ treasure.id }}">Danbooru</a>!
    </p>
    <label>
        <input required type="radio" name="reason" value="unrelated" selected>
        Unrelated
    </label>
    <label>
        <input required type="radio" name="reason" value="nsfw">
        NSFW
    </label>
    <label>
        <input required type="radio" name="reason" value="other">
        Other
    </label>
    <h5 class="textarea-note">Additional info. EN/JP OK!</h5>
    <textarea maxlength="2048" required name="info"></textarea>
    <div class="bottom-section">
        <div
            class="h-captcha"
            data-sitekey="{{ hcaptcha.sitekey }}"
            data-theme="light"
            data-error-callback="captchaError">
        </div>
        <button role="submit">Submit</button>
    </div>
</form>

{% endblock %}

